/* font-family: 'Maven Pro', sans-serif;
font-family: 'Montserrat', sans-serif;
font-family: 'Nunito', sans-serif;
font-family: 'Open Sans', sans-serif;
font-family: 'Quattrocento', serif;
font-family: 'Sriracha', cursive; */

html {
  scroll-behavior: smooth;
}

body {
  margin: auto;
  max-width: 380px;
}

main {
  color: black;
}

header {
  background-image: url("../img/fruits-jaunes.webp");
  background-size: cover;
}

.title-case {
  background-color: #ffffffe5;
  padding: 15px 38px;
  font-size: 17px;
}

.site_header {
  font-family: 'Quattrocento', serif;
  font-size: 20px;
  text-align: center;
  color: #7DB96F;
  padding-bottom: 28px;
  padding-top: 28px ;
  padding-left: 30px;
  padding-right: 30px;
  background-color: #ffffffe5;
}

.link_1 a {
  color: white;
  font-family: 'Maven Pro', sans-serif;
  font-size: 18px;
  background-color: #7DB96F;
  text-align: center;
  padding: 10px;
  border-radius: 15px;
  margin-bottom: 5px;
  text-decoration: none;
}

.link_1 {
  margin-bottom: 35px;
  margin-top: 45px;
}

.link_2 a {
  color: #7DB96F;
  font-family: 'Maven Pro', sans-serif;
  font-size: 18px  ;
  background-color: white;
  text-align: center;
  padding: 10px;
  border-radius: 15px;
  text-decoration: none;
}

.description h1 {
  font-family: 'Maven Pro', sans-serif;
  font-size: 24px;
  text-align: center;
  margin-top: 65px;
}

.description p {
  font-family: 'Quattrocento', serif;
  font-size: 16px;
  text-align: center;
  margin: 20px 38px;
}

.description img {
  margin-bottom: 65px;
  margin-left: 40px;
  margin-right: 40px;
}

.background_article {
  background-color: #7DB96F;
  padding-bottom: 20px;
}

.background_article h1 {
  font-family: 'Maven Pro', sans-serif;
  text-align: center;
  font-size: 22px;
  color: white;
  padding-bottom: 4px;
  padding-top: 20px;
  padding-left: 40px;
  padding-right: 40px;
}

h3 {
  font-size: 26px;
  font-family: 'Sriracha', cursive;
  color: black;
  text-align: left; 
  padding-left: 20px;
}

article img {
  width: 90px;
}

article {
  box-shadow: 0px 0px 19px -2px rgba(0,0,0,0.9);
  border-radius: 30px;
  margin: 25px;
  padding: 25px;
  padding-top: 10px;
  justify-content: space-between;
}

article a {
  font-family: 'Maven Pro', sans-serif;
  color: black;
  font-weight: bold;
  font-size: 14px;
  padding-left: 20px;
}

.banana-juice {
  background-color: #FCF7D6;
}

.kiwi-sirop {
  background-color: #D0F1AE;
}

.coffee-cream {
  background-color: #CDC4B0;
}

.strawberry-delight {
  background-color: #E2A2B1;
}

.container-contact a {
 color: white;
}

.container-contact {
  display: flex;
  flex-direction: column;
  align-items: center;
}

footer h2 {
  font-family: 'Maven Pro', sans-serif;
  color: #7DB96F;
  font-size: 22px;
  text-align: center;
}

.mail {
  font-family: 'Maven Pro', sans-serif;
  font-size: 17px;
  background-color: #7DB96F;
  text-align: center;
  padding: 10px;
  border-radius: 15px;
  margin-bottom: 5px;
  text-decoration: none;
}

.instagram {
  font-family: 'Maven Pro', sans-serif;
  font-size: 17px;
  background-color: #7DB96F;
  text-align: center;
  padding: 10px;
  border-radius: 15px;
  margin-bottom: 10px;
  text-decoration: none;
}

.facebook {
  font-family: 'Maven Pro', sans-serif;
  font-size: 17px;
  background-color: #7DB96F;
  text-align: center;
  padding: 10px;
  border-radius: 15px;
  margin-bottom: 5px;
  text-decoration: none;
}

footer p {
  font-family: 'Maven Pro', sans-serif;
  color: #7DB96F;
  font-size: 10px;
  text-align: center;
  margin: 20px 75px;
  margin-top: 40px;
}

footer img {
  margin-bottom: 25px;
  margin-left: 40px;
  margin-right: 40px;
  padding: 20px;
}

.presentation {
  background-color: #D0F1AE;
}

.presentation h3 {
  text-align: center;
  font-size: 26px;
  padding-top: 30px;
}

.presentation p {
  font-family: 'Quattrocento', serif;
  opacity: 65%;
  font-size: 16px;
  text-align: center;
}

.background_kiwi {
  text-align: center;
}

.background_kiwi img {
  width: 100px;
  border-radius: 50%;
  border: 25px white solid;
  box-shadow: 0 0 10px rgb(0 0 0 / 10%);
  margin-bottom: 30px;
}

.kiwi-img {
  width: 250px;
}

.background_article h2 {
  font-family: 'Maven Pro', sans-serif;
  color: white;
  font-size: 17px;
  padding-left: 40px;
  padding-top: 40px;
}

.background_article p {
  font-family: 'Quattrocento', serif;
  color: white;
  font-size: 16px;
  padding-right: 40px;
  padding-left: 40px;
}

.background_article img {
  width: 100px;
  padding-left: 40px;
}

.background_article h4 {
  font-family: 'Quattrocento', serif;
  color: white;
  font-size: 18px;
  text-align: left;
  font-weight: bold;
  padding-left: 40px;
  padding-right: 40px;
}

.background_article ul {
  font-family: 'Quattrocento', serif;
  color: white;
  font-size: 15px;
  padding-left: 60px;
  padding-bottom: 20px;
}

.other-product {
  background-color: #D0F1AE;
}

.other-product img {
  width: 55px;
}

.other-product .strawberry-delight {
  border-radius: 15px;
  margin: 15px;
  padding: 15px;
}

.other-product a {
  color: white;
  font-family: 'Maven Pro', sans-serif;
  font-size: 18px;
  background-color: #7DB96F;
  text-align: center;
  padding: 10px;
  border-radius: 15px;
  margin-bottom: 5px;
  text-decoration: none;
}

.other-product h1 {
  font-family: 'Maven Pro', sans-serif;
  font-size: 24px;
  text-align: center;
  color: black;
  padding-top: 30px;
}

.coffee {
  background-color: #CDC4B0;
  border-radius: 15px;
  margin: 15px;
  padding: 15px;
}

.strawberry-delight .coffee {
  display: flex;
  flex-direction: row;
}

article p {
  font-family: 'Quattrocento', serif;
  color: black;
  opacity: 65%;
  font-size: 16px;
} 

.background_article article p {
  color:black;
}

.products-container {
  display: flex;
  flex-direction: row;
}