/* font-family: 'Maven Pro', sans-serif;
font-family: 'Montserrat', sans-serif;
font-family: 'Nunito', sans-serif;
font-family: 'Open Sans', sans-serif;
font-family: 'Quattrocento', serif;
font-family: 'Sriracha', cursive; */

html {
  scroll-behavior: smooth;
}

.site_header {

}

.description {

}

.background_article {

}

.container-contact {

}

.mail {

}

.instagram {

}

.facebook {

}

.presentation {


}

.background_kiwi {


}

.other-product {

}

.strawberry-delight {

}

.coffee {
  
}